:root {
  --primary-color: #0d0d0d;
  --white-color: #FFFFFF;
  --light-gray-color: #161616;
  --secondary-color: #fd3c23;
  --tertiary-color: #e5f92d;
  --btn-color: #71f92d;
  --gap: 3rem;
  --fa-li-width: 100%;
  --fa-li-margin:0;
}